<form class="contact_form">
    <label for="name">name</label>
    <input type="text" id="name">

    <label for="email">email</label>
    <input type="email" id="email">

    <label for="message">message</label>
    <input type="textarea" id="message">

    <button>submit</button>
</form>